#!/usr/bin/env bash

cd {{ jenkins_path }} #not sure if this is really needed since we have the -workDir option, but just in case
#curl -sO http://{{ jenkins_controller_ip }}:{{ jenkins_port }}/jnlpJars/agent.jar #we could get an update keeping the curl command, but since this is a lab I am going to choose not to for now
java -jar agent.jar -jnlpUrl http://{{ jenkins_controller_ip }}:{{ jenkins_port }}/computer/node2/jenkins-agent.jnlp -secret 4cd2e76e8f4ab7cd67d1698a6db19b267ad0aedd6e6d74f1d10334b3e2173226 -workDir "{{ jenkins_path }}"
