[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_path }}/installation/nexus/bin/nexus start
ExecStop={{ nexus_path }}/installation/nexus/bin/nexus stop
User={{ user }}
TimeoutSec=600

[Install]
WantedBy=multi-user.target
