[Unit]
Description=tomcat8 service
After=network.target

[Service]
Type=forking
ExecStart={{ tomcat_path }}/tomcat8/bin/startup.sh
ExecStop={{ tomcat_path }}/tomcat8/bin/shutdown.sh
User={{ user }}
TimeoutSec=600

[Install]
WantedBy=multi-user.target
